[submodule "bats-core/bats-file"]
	path = bats-core/bats-file
	url = https://github.com/bats-core/bats-file.git
[submodule "bats-core/bats-detik"]
	path = bats-core/bats-detik
	url = https://github.com/bats-core/bats-detik
[submodule "bats-core/bats-assert"]
	path = bats-core/bats-assert
	url = https://github.com/bats-core/bats-assert
[submodule "bats-core/bats-support"]
	path = bats-core/bats-support
	url = https://github.com/bats-core/bats-support
